$lg-break-point: 1200px;
$break-point: 990px;
$md-break-point: 640px;
$sm-break-point: 320px;

$aside-width: 42%;
$content-wrapper-width: 55%;
$article-max-width: 55%;
$post-margin-left: 42%;
$navbarheight: 3em;

// $textcolor: #fff; // #222
// $navbarcolor: #ccc; // #333
// $navbarhovercolor: #fff; //#766257
// $bgcolor: #4a525a; // #fdfdf1;

$textcolor: #111;
$navbarcolor: #333;
$navbarhovercolor: #766257;
$bgcolor: #fdfdf1;

$font-body: 'Oswald';
$img: "../img";
$js: "../js";
$font: "../font";
