$lg-break-point: 1200px;
$break-point: 990px;
$md-break-point: 640px;
$sm-break-point: 320px;

$aside-width: 42%;
$content-wrapper-width: 55%;
$article-max-width: 55%;
$post-margin-left: 45%;

$font-body: 'Oswald';
$bgcolor: #fdfdf1;
$img: "../img";
$js: "../js";
$font: "../font";
